
<div id="myanimelist">
	<hgroup class="mb20">
		<h1>Search Results</h1>
		<table width="100%">
			<th>
				<td><h2 class="lead"><strong class="text-danger"><%= @count %></strong> results were found for the search for <strong class="text-danger"><%= @q.name_cont %></strong></h2></td>
				
			</th>
		</table>
		
		
	</hgroup>
	<div class="navi-seasonal js-navi-seasonal" style="left: 113px;">
		<%= paginate @search_animes, :method => :post, style: "display:inline-block;" %>
	</div>
	<div class="js-categories-seasonal" style="padding-top: 0px;">
		<div class="seasonal-anime-list js-seasonal-anime-list js-seasonal-anime-list-key-1 clearfix">

			<% @search_animes.each do |anime| %>
			<div class="seasonal-anime js-seasonal-anime" data-genre="1,2,10,11,22">
				<div>
					<div class="title">
						<p class="title-text">
							<%= link_to anime.name, anime_path(anime) %>
						</p>
					</div>

					<div class="prodsrc">
						<span class="producer"><%= anime.producer %></span>
						<div class="eps">
							<span><%= anime.episode %></span>
						</div>

						<span class="source"><%= anime.source %></span>
						<% if anime.is_added(current_user).present? %>
						<span class="<%= anime.id.to_s %>" id="<%= 'remove-' + anime.id.to_s %>">
						<%= link_to 'remove from list', add_path(anime.is_added(current_user)), method: :delete, remote: true %>
						</span>
						<% else %>
						<span class="<%= anime.id.to_s %>" id="<%= 'add-' + anime.id.to_s %>">
						<%= link_to 'add to list', anime_adds_path(anime), method: :post, remote: true%>
						</span>
						<% end %>
					</div>

					<div class="genres js-genre" id="36474">
						<div class="genres-inner js-genre-inner">
							<% anime.genre.split(/,/).each do |genre| %>
								<span class="genre"><%= genre %></span>
							<% end %>
						</div>
					</div>
				</div>

				<!-- anime poster -->
				<div class="image"><%= image_tag(anime.picture, size: "167x242", alt: anime.name) %>
				</div>

				<div class="synopsis js-synopsis" style="width: 155px;">
					<span class="preline"><%= anime.description %></span>
					<p class="licensors on" data-licensors="Aniplex of America,"><span class="fw-b">Licensor:</span><br><%= anime.licencer %></p>
				</div>

				<div class="information">
					<div class="info">
						TV -
						<span class="remain-time"> <%= anime.premiered %> </span>
					</div>
					<div class="scormem">
						<span class="member fl-r" title="Members">166,262</span>
						<span class="score" title="Score">8.22</span>
					</div>
				</div>
			</div>
			<% end %>

		</div>
	</div>
</div>
