<% @top_airing_animes[0,5].each_with_index do |anime, index| %>
  <li class="ranking-unit">
  <%= link_to anime_path(anime), class: "link" do %>
      <span class="rank"><%= index + 1 %></span>
      <p class="data-image">
      <%= image_tag (anime.picture), width: "50", height: "70", alt: "Aniaame Title", class: "image lazyloaded" %>
      </p>
      <p class="data">
      <a class="title"><%= anime.name %></a>
      <span class="info pt8">
          <%= anime.producer %><br>
          <%= anime.episode %> eps<br> 
          scored <%= anime.score %>
      </span><br>
      <span class="members pb8">66,725 reviewers</span>
      </p>
  <% end %>
  </li>
<% end %>