<% reviews.each do |review| %>
    <div class="item">
      <div class="image">
        <%= link_to anime_path(review.anime), class: "picSurround" do %>
          <%= image_tag review.anime.picture, width: "50", height: "70", class: "hoverinfo_trigger lazyloaded" %>
        <% end %>
      </div>
      <div class="info">
        <div class="spaceit mt0 pt0">
          <span class="fs10 lightLink di-ib fl-r">
            Overall Rating: <strong><%= review.review_score %></strong>
          </span>
          <%= link_to anime_path(review.anime) do %>
            <strong><%= review.anime.name %></strong>
          <% end %>
        </div>
        <div class="textReadability">
          <%= review.review_description %>
        </div>
        <div class="spaceit lightLink">
          <%= time_ago_in_words(review.created_at).upcase %> AGO by
          <% if review.user.nickname.present? %>
            <strong style="color: black"><%= review.user.nickname %></strong>
          <% else %>
            <strong style="color: black"><%= review.user.email %></strong>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
