<%= form_for [anime, Review.new], :html => {:class => "w-100"}, remote: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :anime_id, value: anime.id %>
  <div id="rating-form">
	</div>
  <%= f.text_area :review_description, class: "form-control comment-input border-0", placeholder: "Add a comment...", autocomplete: :off, cols: 70, rows: 5 %>
  <div>
    <%= f.button :submit, :class => "btn-custom2" %>
  </div>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[review_score]'
	});
</script>