<% content_for :style do %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<% end %>

<%= render "shared/anime_details", {is_added: @is_added, anime: @anime} %>

<td valign="top" style="padding-left: 5px;"><div class="js-scrollfix-bottom-rel"><a name="lower"></a>
<div id="horiznav_nav" style="margin: 5px 0 10px 0;">
  <ul style="margin-right: 0; padding-right: 0;">
    <li><a href="#" class="horiznav_active">Details</a></li>
    </ul>
</div>

<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
	<td valign="top"><div class="pb16">
    <div class="di-t w100 mt12">
      <div class="anime-detail-header-stats di-tc va-t ">
        <div class="stats-block po-r clearfix">
          <div class="fl-l score" data-title="score" title="indicates a weighted score. Please note that "Not yet aired" titles are excluded.">
            <%= @anime.score || 0 %>
          </div>
          <div class="di-ib ml12 pl20 pt8">
            <span class="numbers ranked" title="based on the top anime page. Please note that "Not yet aired" and "R18+" titles are excluded.">Ranked <strong>#<%= @list_animes.find_index(@anime) + 1 %></strong></span>
            <span class="numbers members">Members <strong>162,725</strong></span>
        </div>
      </div>
    </div>
  <div class="js-myinfo-error badresult-text al pb4" style="display:none;"></div>
</div>
<h2>Description</h2>
<span itemprop="description">
  <%= @anime.description %></span>

    </a></td></table>

    <br><h2>Characters & Voice Actors</h2><div class="detail-characters-list clearfix"><div class="left-column fl-l divider" style="width:392px;">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td valign="top" width="27" class="ac borderClass">
        <div class="picSurround">
          <a href="#" class="fw-n">
            <img alt="Kirigaya, Kazuto" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/characters/7/204821.webp?s=f6697fff6b11d4967304cc91a9f79b35" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/characters/7/204821.webp?s=f6697fff6b11d4967304cc91a9f79b35 1x, https://myanimelist.cdn-dena.com/r/46x64/images/characters/7/204821.webp?s=7674741b4bd4173d6832e1bb5d0ac2b1 2x" class="lazyload" />
          </a>
        </div>
      </td>
      <td valign="top" class="borderClass">
        <a href="#">Kirigaya, Kazuto</a>
        <div class="spaceit_pad">
          <small>Main</small>
        </div>
      </td>

      <td align="right" valign="top" class="borderClass">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="va-t ar pl4 pr4">
              <a href="#">Matsuoka, Yoshitsugu</a><br>
              <small>Japanese</small>
            </td>
            <td valign="top">
              <div class="picSurround">
                <a href="#">
                  <img alt="Matsuoka, Yoshitsugu" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/1/54133.jpg?s=96ec426258f7cc319e0a6d976b9ee6bc" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/1/54133.jpg?s=96ec426258f7cc319e0a6d976b9ee6bc 1x, https://myanimelist.cdn-dena.com/r/46x64/images/voiceactors/1/54133.jpg?s=726c54583aaa8d6f2c2b7b29d5b34d6d 2x" class="lazyload" />
                </a>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td valign="top" width="27" class="ac borderClass">
        <div class="picSurround">
          <a href="https://myanimelist.net/character/55147/Shino_Asada" class="fw-n">
            <img alt="Asada, Shino" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/characters/10/235939.webp?s=a215f1a4c317499a8afe38c67e4a890c" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/characters/10/235939.webp?s=a215f1a4c317499a8afe38c67e4a890c 1x, https://myanimelist.cdn-dena.com/r/46x64/images/characters/10/235939.webp?s=23983d6e4ddbc64bd5c91601dbcfb9cf 2x" class="lazyload" />
          </a>
        </div>
      </td>
      <td valign="top" class="borderClass">
        <a href="https://myanimelist.net/character/55147/Shino_Asada">Asada, Shino</a>
        <div class="spaceit_pad">
          <small>Supporting</small>
        </div>
      </td>
      <td align="right" valign="top" class="borderClass">
                <table border="0" cellpadding="0" cellspacing="0"></table>
              </td>
    </tr>
  </table></div><div class="left-right fl-r" style="width:392px;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td valign="top" width="27" class="ac borderClass">
        <div class="picSurround">
          <a href="https://myanimelist.net/character/36831/Suguha_Kirigaya" class="fw-n">
            <img alt="Kirigaya, Suguha" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/characters/9/192515.webp?s=a90cd1a54cc6d59e76df319889e4295b" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/characters/9/192515.webp?s=a90cd1a54cc6d59e76df319889e4295b 1x, https://myanimelist.cdn-dena.com/r/46x64/images/characters/9/192515.webp?s=b48f111954fd81ed929a4e557220dee6 2x" class="lazyload" />
          </a>
        </div>
      </td>
      <td valign="top" class="borderClass">
        <a href="https://myanimelist.net/character/36831/Suguha_Kirigaya">Kirigaya, Suguha</a>
        <div class="spaceit_pad">
          <small>Supporting</small>
        </div>
      </td>
      <td align="right" valign="top" class="borderClass">
                <table border="0" cellpadding="0" cellspacing="0"></table>
              </td>
    </tr>
  </table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td valign="top" width="27" class="ac borderClass">
        <div class="picSurround">
          <a href="https://myanimelist.net/character/110147/Ronie_Arabel" class="fw-n">
            <img alt="Arabel, Ronie" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/characters/11/253663.webp?s=ba3c64041c7623a3a8ad94321827cec4" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/characters/11/253663.webp?s=ba3c64041c7623a3a8ad94321827cec4 1x, https://myanimelist.cdn-dena.com/r/46x64/images/characters/11/253663.webp?s=46432f043fd59372ae081bca62d8b845 2x" class="lazyload" />
          </a>
        </div>
      </td>
      <td valign="top" class="borderClass">
        <a href="https://myanimelist.net/character/110147/Ronie_Arabel">Arabel, Ronie</a>
        <div class="spaceit_pad">
          <small>Supporting</small>
        </div>
      </td>
      <td align="right" valign="top" class="borderClass">
                <table border="0" cellpadding="0" cellspacing="0"></table>
              </td>
    </tr>
  </table></div></div>
<br>
<a name="staff"></a>
<h2>
  Staff
</h2>

<div class="detail-characters-list clearfix"><div class="left-column fl-l divider" style="width:392px;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td valign="top" width="27" class="ac borderClass">
        <div class="picSurround">
          <a href="https://myanimelist.net/people/7190/Manabu_Ono" class="fw-n">
            <img alt="Ono, Manabu" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/2/43865.jpg?s=7fc746e6a417a1afe2139fd2235c99f1" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/2/43865.jpg?s=7fc746e6a417a1afe2139fd2235c99f1 1x, https://myanimelist.cdn-dena.com/r/46x64/images/voiceactors/2/43865.jpg?s=7cdc331d7bd0eb928e83ef3d549e2d2b 2x" class="lazyload" />
          </a>
        </div>
      </td>
      <td valign="top" class="borderClass">
        <a href="https://myanimelist.net/people/7190/Manabu_Ono">Ono, Manabu</a>
        <div class="spaceit_pad">
          <small>Director</small>
        </div>
      </td>
    </tr>
  </table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td valign="top" width="27" class="ac borderClass">
        <div class="picSurround">
          <a href="https://myanimelist.net/people/6016/Yoshikazu_Iwanami" class="fw-n">
            <img alt="Iwanami, Yoshikazu" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/3/53607.jpg?s=c912e9360188362618ac7907c2016d3a" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/3/53607.jpg?s=c912e9360188362618ac7907c2016d3a 1x, https://myanimelist.cdn-dena.com/r/46x64/images/voiceactors/3/53607.jpg?s=1065280bacd701fb6d7d2a5b39416ac3 2x" class="lazyload" />
          </a>
        </div>
      </td>
      <td valign="top" class="borderClass">
        <a href="https://myanimelist.net/people/6016/Yoshikazu_Iwanami">Iwanami, Yoshikazu</a>
        <div class="spaceit_pad">
          <small>Sound Director</small>
        </div>
      </td>
    </tr>
  </table></div><div class="left-right fl-r" style="width:392px;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td valign="top" width="27" class="ac borderClass">
        <div class="picSurround">
          <a href="https://myanimelist.net/people/10561/LiSA" class="fw-n">
            <img alt="LiSA" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/2/36293.jpg?s=ff59a80e483382c62918dc98c7f8d337" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/2/36293.jpg?s=ff59a80e483382c62918dc98c7f8d337 1x, https://myanimelist.cdn-dena.com/r/46x64/images/voiceactors/2/36293.jpg?s=8cde85a1c271563bda043d2f95768e01 2x" class="lazyload" />
          </a>
        </div>
      </td>
      <td valign="top" class="borderClass">
        <a href="https://myanimelist.net/people/10561/LiSA">LiSA</a>
        <div class="spaceit_pad">
          <small>Theme Song Performance</small>
        </div>
      </td>
    </tr>
  </table><table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td valign="top" width="27" class="ac borderClass">
        <div class="picSurround">
          <a href="https://myanimelist.net/people/13693/Eir_Aoi" class="fw-n">
            <img alt="Aoi, Eir" width="23" height="32" data-src="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/1/22105.jpg?s=e24f7e8786d26af2e7a297dbf2f2a7f6" data-srcset="https://myanimelist.cdn-dena.com/r/23x32/images/voiceactors/1/22105.jpg?s=e24f7e8786d26af2e7a297dbf2f2a7f6 1x, https://myanimelist.cdn-dena.com/r/46x64/images/voiceactors/1/22105.jpg?s=0ca61732ad4e45fa389c371e315d4c3a 2x" class="lazyload" />
          </a>
        </div>
      </td>
      <td valign="top" class="borderClass">
        <a href="https://myanimelist.net/people/13693/Eir_Aoi">Aoi, Eir</a>
        <div class="spaceit_pad">
          <small>Theme Song Performance</small>
        </div>
      </td>
    </tr>
  </table></div></div>

<br><br><h2>Reviews</h2>
<div id="edit-review"></div>
<div style="padding: 4px 0;">
  <% if user_signed_in? %>
    <div class="">
      <div class="mb8" style="float: right; text-align: right;"></div>
      <div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <% if !Review.find_by(user_id: current_user.id, anime_id: @anime.id) %>
              <td valign="top" width="60">
                <div class="picSurround col-4">
                  <% if current_user.image.url.present? %>
                    <%= image_tag (current_user.image.url), class: "lazyloaded img-circle img-responsive", width: "30", height: "30", alt: "Profile pic" %>
                  <% else %>
                    <%= image_tag ("default_profile.jpg"), class: "lazyloaded img-circle img-responsive", width: "30", height: "30", alt: "Profile pic" %>
                  <% end %>
                </div>
              </td>
              <td valign="top">
                <div class="row actions" id="review-comment-form-anime-<%= @anime.id.to_s %>">
                  <%= render "review_comment_form", {anime: @anime} %>
                <br><br><br>
                </div>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  <% end %>

  <div id="review-anime-<%= @anime.id.to_s %>">
    <%= render "review_comment_list", {anime: @anime} %>
  </div>

<br><br><br>
</div>

</div>
    </td>
    </tr>
    </table>
    </div>  <div class="mauto clearfix pt24" style="width:760px;">
    <div class="fl-l">

        <div class="_unit " style="width:336px;display: block !important;" data-height="280">
      <div id="pc_anime_detail_bottom_rec_l" class="" style="width:336px;">

      </div>
    </div>  </div>
      <div class="fl-r">

        <div class="_unit " style="width:336px;display: block !important;" data-height="280">
      <div id="pc_anime_detail_bottom_rec_r" class="" style="width:336px;">

      </div>
    </div>  </div>
    </div>

</td>
</tr>
</table>
</div><!-- end of contentHome -->
</div><!-- end of contentWrapper -->

<%= content_for :js do %>
  $(".btn").on('mouseover', function() {
    return fasle;
  });
<% end %>
