<%= render partial: "shared/anime_details", object: @review, as: "anime" %>
<div class="wrapper">

<td valign="top" style="padding-left: 5px;"><div class="js-scrollfix-bottom-rel"><a name="lower"></a>
<div id="horiznav_nav" style="margin: 5px 0 10px 0;">
  <ul style="margin-right: 0; padding-right: 0;">
    <li>
      <%= link_to "Details", @review %>
    </li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Pictures</a></li>
    <li><a href="#">Content</a></li>
    <li>
      <%= link_to "Review", review_path(:review => @review.id), class: "horiznav_active" %>
    </li>
    <li><a href="#">Stats</a></li>
    <li><a href="#">Theme</a></li>
    <li><a href="#">Characters &amp; Staff</a></li>
    </ul>
</div>
<div id="contentWrapper">

<div id="content", class = "page-review page-common">	
  <div style="padding: 0 15px 15px 15px;">
  <form method="post" name="reviews" style="display: inline;"></div><div class="normal_header">Part 1: Rate the Anime</div><div style="text-align: center; margin-top: 8px;">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="review_box">
        <div class="score_top">Story</div>
        <table border="0" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td width="75" align="center">
              <div id="review_story_scoreval" class="review_score">Select a score to the right</div>
        <div class="review_description" id="review_story_desc"><small></small></div>
      </td>
      <td align="right">
        <table border="0" cellpadding="0" cellspacing="1">
          <tr>
            <td>
              <div class="review_scoreoff" id="review_story_score_10" onclick="setScore('story',10);" onmouseover="overScore('story',10);" onmouseout="outScore('story',10);">10</div>
            </td>
            <td>
              <div class="review_scoreoff" id="review_story_score_9" onclick="setScore('story',9);" onmouseover="overScore('story',9);" onmouseout="outScore('story',9);">9</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="review_scoreoff" id="review_story_score_8" onclick="setScore('story',8);" onmouseover="overScore('story',8);" onmouseout="outScore('story',8);">8</div></td><td><div class="review_scoreoff" id="review_story_score_7" onclick="setScore('story',7);" onmouseover="overScore('story',7);" onmouseout="outScore('story',7);">7</div></td></tr><tr><td><div class="review_scoreoff" id="review_story_score_6" onclick="setScore('story',6);" onmouseover="overScore('story',6);" onmouseout="outScore('story',6);">6</div></td><td><div class="review_scoreoff" id="review_story_score_5" onclick="setScore('story',5);" onmouseover="overScore('story',5);" onmouseout="outScore('story',5);">5</div></td></tr><tr><td><div class="review_scoreoff" id="review_story_score_4" onclick="setScore('story',4);" onmouseover="overScore('story',4);" onmouseout="outScore('story',4);">4</div></td><td><div class="review_scoreoff" id="review_story_score_3" onclick="setScore('story',3);" onmouseover="overScore('story',3);" onmouseout="outScore('story',3);">3</div></td></tr><tr><td><div class="review_scoreoff" id="review_story_score_2" onclick="setScore('story',2);" onmouseover="overScore('story',2);" onmouseout="outScore('story',2);">2</div></td><td><div class="review_scoreoff" id="review_story_score_1" onclick="setScore('story',1);" onmouseover="overScore('story',1);" onmouseout="outScore('story',1);">1</div></td></tr></table><input type="hidden" id="frmreview_story_score" name="frmreview_story_score" value=""></td></tr></table></td>
      <td class="review_box"><div class="score_top">Art</div><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr><td width="75" align="center"><div id="review_animation_scoreval" class="review_score">Select a score to the right</div>
    <div class="review_description" id="review_animation_desc"><small></small></div>
    </td><td align="right"><table border="0" cellpadding="0" cellspacing="1"><tr><td><div class="review_scoreoff" id="review_animation_score_10" onclick="setScore('animation',10);" onmouseover="overScore('animation',10);" onmouseout="outScore('animation',10);">10</div></td><td><div class="review_scoreoff" id="review_animation_score_9" onclick="setScore('animation',9);" onmouseover="overScore('animation',9);" onmouseout="outScore('animation',9);">9</div></td></tr><tr><td><div class="review_scoreoff" id="review_animation_score_8" onclick="setScore('animation',8);" onmouseover="overScore('animation',8);" onmouseout="outScore('animation',8);">8</div></td><td><div class="review_scoreoff" id="review_animation_score_7" onclick="setScore('animation',7);" onmouseover="overScore('animation',7);" onmouseout="outScore('animation',7);">7</div></td></tr><tr><td><div class="review_scoreoff" id="review_animation_score_6" onclick="setScore('animation',6);" onmouseover="overScore('animation',6);" onmouseout="outScore('animation',6);">6</div></td><td><div class="review_scoreoff" id="review_animation_score_5" onclick="setScore('animation',5);" onmouseover="overScore('animation',5);" onmouseout="outScore('animation',5);">5</div></td></tr><tr><td><div class="review_scoreoff" id="review_animation_score_4" onclick="setScore('animation',4);" onmouseover="overScore('animation',4);" onmouseout="outScore('animation',4);">4</div></td><td><div class="review_scoreoff" id="review_animation_score_3" onclick="setScore('animation',3);" onmouseover="overScore('animation',3);" onmouseout="outScore('animation',3);">3</div></td></tr><tr><td><div class="review_scoreoff" id="review_animation_score_2" onclick="setScore('animation',2);" onmouseover="overScore('animation',2);" onmouseout="outScore('animation',2);">2</div></td><td><div class="review_scoreoff" id="review_animation_score_1" onclick="setScore('animation',1);" onmouseover="overScore('animation',1);" onmouseout="outScore('animation',1);">1</div></td></tr></table><input type="hidden" id="frmreview_animation_score" name="frmreview_animation_score" value=""></td></tr></table></td><td class="review_box"><div class="score_top">Sound</div><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr><td width="75" align="center"><div id="review_sound_scoreval" class="review_score">Select a score to the right</div>
    <div class="review_description" id="review_sound_desc"><small></small></div>
    </td><td align="right"><table border="0" cellpadding="0" cellspacing="1"><tr><td><div class="review_scoreoff" id="review_sound_score_10" onclick="setScore('sound',10);" onmouseover="overScore('sound',10);" onmouseout="outScore('sound',10);">10</div></td><td><div class="review_scoreoff" id="review_sound_score_9" onclick="setScore('sound',9);" onmouseover="overScore('sound',9);" onmouseout="outScore('sound',9);">9</div></td></tr><tr><td><div class="review_scoreoff" id="review_sound_score_8" onclick="setScore('sound',8);" onmouseover="overScore('sound',8);" onmouseout="outScore('sound',8);">8</div></td><td><div class="review_scoreoff" id="review_sound_score_7" onclick="setScore('sound',7);" onmouseover="overScore('sound',7);" onmouseout="outScore('sound',7);">7</div></td></tr><tr><td><div class="review_scoreoff" id="review_sound_score_6" onclick="setScore('sound',6);" onmouseover="overScore('sound',6);" onmouseout="outScore('sound',6);">6</div></td><td><div class="review_scoreoff" id="review_sound_score_5" onclick="setScore('sound',5);" onmouseover="overScore('sound',5);" onmouseout="outScore('sound',5);">5</div></td></tr><tr><td><div class="review_scoreoff" id="review_sound_score_4" onclick="setScore('sound',4);" onmouseover="overScore('sound',4);" onmouseout="outScore('sound',4);">4</div></td><td><div class="review_scoreoff" id="review_sound_score_3" onclick="setScore('sound',3);" onmouseover="overScore('sound',3);" onmouseout="outScore('sound',3);">3</div></td></tr><tr><td><div class="review_scoreoff" id="review_sound_score_2" onclick="setScore('sound',2);" onmouseover="overScore('sound',2);" onmouseout="outScore('sound',2);">2</div></td><td><div class="review_scoreoff" id="review_sound_score_1" onclick="setScore('sound',1);" onmouseover="overScore('sound',1);" onmouseout="outScore('sound',1);">1</div></td></tr></table><input type="hidden" id="frmreview_sound_score" name="frmreview_sound_score" value=""></td></tr></table></td>
      <td class="review_box"><div class="score_top">Character</div><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr><td width="75" align="center"><div id="review_character_scoreval" class="review_score">Select a score to the right</div>
    <div class="review_description" id="review_character_desc"><small></small></div>
    </td><td align="right"><table border="0" cellpadding="0" cellspacing="1"><tr><td><div class="review_scoreoff" id="review_character_score_10" onclick="setScore('character',10);" onmouseover="overScore('character',10);" onmouseout="outScore('character',10);">10</div></td><td><div class="review_scoreoff" id="review_character_score_9" onclick="setScore('character',9);" onmouseover="overScore('character',9);" onmouseout="outScore('character',9);">9</div></td></tr><tr><td><div class="review_scoreoff" id="review_character_score_8" onclick="setScore('character',8);" onmouseover="overScore('character',8);" onmouseout="outScore('character',8);">8</div></td><td><div class="review_scoreoff" id="review_character_score_7" onclick="setScore('character',7);" onmouseover="overScore('character',7);" onmouseout="outScore('character',7);">7</div></td></tr><tr><td><div class="review_scoreoff" id="review_character_score_6" onclick="setScore('character',6);" onmouseover="overScore('character',6);" onmouseout="outScore('character',6);">6</div></td><td><div class="review_scoreoff" id="review_character_score_5" onclick="setScore('character',5);" onmouseover="overScore('character',5);" onmouseout="outScore('character',5);">5</div></td></tr><tr><td><div class="review_scoreoff" id="review_character_score_4" onclick="setScore('character',4);" onmouseover="overScore('character',4);" onmouseout="outScore('character',4);">4</div></td><td><div class="review_scoreoff" id="review_character_score_3" onclick="setScore('character',3);" onmouseover="overScore('character',3);" onmouseout="outScore('character',3);">3</div></td></tr><tr><td><div class="review_scoreoff" id="review_character_score_2" onclick="setScore('character',2);" onmouseover="overScore('character',2);" onmouseout="outScore('character',2);">2</div></td><td><div class="review_scoreoff" id="review_character_score_1" onclick="setScore('character',1);" onmouseover="overScore('character',1);" onmouseout="outScore('character',1);">1</div></td></tr></table><input type="hidden" id="frmreview_character_score" name="frmreview_character_score" value=""></td></tr></table></td>
      <td class="review_box"><div class="score_top">Enjoyment</div><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr><td width="75" align="center"><div id="review_enjoyment_scoreval" class="review_score">Select a score to the right</div>
    <div class="review_description" id="review_enjoyment_desc"><small></small></div>
    </td><td align="right"><table border="0" cellpadding="0" cellspacing="1"><tr><td><div class="review_scoreoff" id="review_enjoyment_score_10" onclick="setScore('enjoyment',10);" onmouseover="overScore('enjoyment',10);" onmouseout="outScore('enjoyment',10);">10</div></td><td><div class="review_scoreoff" id="review_enjoyment_score_9" onclick="setScore('enjoyment',9);" onmouseover="overScore('enjoyment',9);" onmouseout="outScore('enjoyment',9);">9</div></td></tr><tr><td><div class="review_scoreoff" id="review_enjoyment_score_8" onclick="setScore('enjoyment',8);" onmouseover="overScore('enjoyment',8);" onmouseout="outScore('enjoyment',8);">8</div></td><td><div class="review_scoreoff" id="review_enjoyment_score_7" onclick="setScore('enjoyment',7);" onmouseover="overScore('enjoyment',7);" onmouseout="outScore('enjoyment',7);">7</div></td></tr><tr><td><div class="review_scoreoff" id="review_enjoyment_score_6" onclick="setScore('enjoyment',6);" onmouseover="overScore('enjoyment',6);" onmouseout="outScore('enjoyment',6);">6</div></td><td><div class="review_scoreoff" id="review_enjoyment_score_5" onclick="setScore('enjoyment',5);" onmouseover="overScore('enjoyment',5);" onmouseout="outScore('enjoyment',5);">5</div></td></tr><tr><td><div class="review_scoreoff" id="review_enjoyment_score_4" onclick="setScore('enjoyment',4);" onmouseover="overScore('enjoyment',4);" onmouseout="outScore('enjoyment',4);">4</div></td><td><div class="review_scoreoff" id="review_enjoyment_score_3" onclick="setScore('enjoyment',3);" onmouseover="overScore('enjoyment',3);" onmouseout="outScore('enjoyment',3);">3</div></td></tr><tr><td><div class="review_scoreoff" id="review_enjoyment_score_2" onclick="setScore('enjoyment',2);" onmouseover="overScore('enjoyment',2);" onmouseout="outScore('enjoyment',2);">2</div></td><td><div class="review_scoreoff" id="review_enjoyment_score_1" onclick="setScore('enjoyment',1);" onmouseover="overScore('enjoyment',1);" onmouseout="outScore('enjoyment',1);">1</div></td></tr></table><input type="hidden" id="frmreview_enjoyment_score" name="frmreview_enjoyment_score" value=""></td></tr></table></td>
      <td class="review_box"><div class="score_top">Overall</div><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr><td width="75" align="center"><div id="review_overall_scoreval" class="review_score">Select a score to the right</div>
    <div class="review_description" id="review_overall_desc"><small></small></div>
    </td><td align="right"><table border="0" cellpadding="0" cellspacing="1"><tr><td><div class="review_scoreoff" id="review_overall_score_10" onclick="setScore('overall',10);" onmouseover="overScore('overall',10);" onmouseout="outScore('overall',10);">10</div></td><td><div class="review_scoreoff" id="review_overall_score_9" onclick="setScore('overall',9);" onmouseover="overScore('overall',9);" onmouseout="outScore('overall',9);">9</div></td></tr><tr><td><div class="review_scoreoff" id="review_overall_score_8" onclick="setScore('overall',8);" onmouseover="overScore('overall',8);" onmouseout="outScore('overall',8);">8</div></td><td><div class="review_scoreoff" id="review_overall_score_7" onclick="setScore('overall',7);" onmouseover="overScore('overall',7);" onmouseout="outScore('overall',7);">7</div></td></tr><tr><td><div class="review_scoreoff" id="review_overall_score_6" onclick="setScore('overall',6);" onmouseover="overScore('overall',6);" onmouseout="outScore('overall',6);">6</div></td><td><div class="review_scoreoff" id="review_overall_score_5" onclick="setScore('overall',5);" onmouseover="overScore('overall',5);" onmouseout="outScore('overall',5);">5</div></td></tr><tr><td><div class="review_scoreoff" id="review_overall_score_4" onclick="setScore('overall',4);" onmouseover="overScore('overall',4);" onmouseout="outScore('overall',4);">4</div></td><td><div class="review_scoreoff" id="review_overall_score_3" onclick="setScore('overall',3);" onmouseover="overScore('overall',3);" onmouseout="outScore('overall',3);">3</div></td></tr><tr><td><div class="review_scoreoff" id="review_overall_score_2" onclick="setScore('overall',2);" onmouseover="overScore('overall',2);" onmouseout="outScore('overall',2);">2</div></td><td><div class="review_scoreoff" id="review_overall_score_1" onclick="setScore('overall',1);" onmouseover="overScore('overall',1);" onmouseout="outScore('overall',1);">1</div></td></tr></table><input type="hidden" id="frmreview_overall_score" name="frmreview_overall_score" value=""></td></tr></table></td>
    </tr>
    </table>
    </div>

    <div style="margin-top: 15px;">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td valign="top" style="padding-right: 15px;" width="425"><div class="normal_header">Part 2: Write Your Review</div>
      <div style="margin: 10px 0px;">
        <%# <textarea name="frm_review_text" class="textarea" rows="17" cols="75"></textarea> %>
        
        <%= form_for (Review.new) do |f| %>
          <%= f.text_area :review_description, :rows => 10, class: "form-control", placeholder: "Write your review"  %>
          <%= f.hidden_field :anime_id, value: @review.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          </br>
          </br>
          <div class="submit-button">
            <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>

      </div>

      <div style="text-align: center; margin: 10px;">
        <input type="button" name="frm_previewbtn"
          value="Preview" onclick="checkValid('preview');" class="inputButton">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" name="frm_submitbtn"
          value="Submit" class="inputButton" onclick="checkValid('post');">
      </div>

      </td>
      <td valign="top"><div class="normal_header">Review Tips and Guidelines</div>

        <table border="0" cellpadding="3" cellspacing="0" width="100%">
        <tr>
          <td>&#149;</td>
        <td><a href="/forum/?topicid=575725#msg20903565" target="_blank">Full guidelines available here.</a></td>
      </tr>
      <tr>
          <td>&#149;</td>
        <td>Don't steal anyone elses work, this review should be all in your own writing.</td>
      </tr>
      <tr>
        <td>&#149;</td>
        <td>Don't include story summaries, users already have the synopsis written for them.</td>
      </tr>
      <tr>
        <td>&#149;</td>
        <td>Be sure to tell us the reasons for WHY you liked or disliked this anime or manga.</td>
      </tr>
      <tr>
        <td>&#149;</td>
        <td>Try your very best to <strong>not write any spoilers</strong>.</td>
      </tr>
      <tr>
        <td>&#149;</td>
        <td>Don't comment on other reviews or reviewers, focus only on the anime or manga.</td>
      </tr>
      <tr>
        <td>&#149;</td>
        <td>BBCode is <strong>disabled</strong>.</td>
      </tr>
      <tr>
        <td>&#149;</td>
        <td>This review is public.</td>
      </tr>
      </table>
      <br>
      Note: This area is only to be used for posting a review of the series after you have seen it. This is not a discussion area.
      </td>
    </tr>
    </table>
    </div>
    <input type="hidden" name="frm_preview">
    <input type="hidden" name="frm_submit">
    <input type="hidden" name="frm_delete">
    <input type="hidden" name="review_type" value="anime">
    <input type="hidden" name="frm_series_id" value="36474">
    <input type="hidden" name="frm_series_title" value="Sword Art Online: Alicization">
    </form></div>
  </div>

<br><br><h2><span class="floatRightHeader"><a href="#">More reviews</a></span>Reviews</h2>
              
<div class="borderDark" style="padding: 4px 0;">
  <div class="spaceit">
    <div class="mb8" style="float: right; text-align: right;">
      <div title="8:54 PM">Oct 14, 2018</div>
      


    </div><div style="float: left;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td valign="top" width="60">
              <div class="picSurround">
                <a href="https://myanimelist.net/profile/Amert">
                  <img src="https://myanimelist.cdn-dena.com/images/userimages/thumbs/6760170_thumb.webp" data-src="https://myanimelist.cdn-dena.com/images/userimages/thumbs/6760170_thumb.webp" border="0" class=" lazyloaded">
                </a>
              </div>
            </td>
              <td valign="top">
                <a href="#">Amert</a>
                <small>(<a href="#">All reviews</a>)</small><br>
              </td>
        </tr>
      </table>
    </div>
  </div>

    <div class="spaceit textReadability word-break pt8 mt8" style="clear: both; border-top: 1px solid #ebebeb;">
      Good Job
    </div>
  </div>
</div><br>

</div>
    </td>
    </tr>
    </table>
    </div>  <div class="mauto clearfix pt24" style="width:760px;">
    <div class="fl-l">
        
        <div class="_unit " style="width:336px;display: block !important;" data-height="280">
      <div id="pc_anime_detail_bottom_rec_l" class="" style="width:336px;">
       
      </div>
    </div>  </div>
      <div class="fl-r">
        
        <div class="_unit " style="width:336px;display: block !important;" data-height="280">
      <div id="pc_anime_detail_bottom_rec_r" class="" style="width:336px;">
        
      </div>
    </div>  </div>
    </div>

</td>
</tr>
</table>
</div><!-- end of contentHome -->
</div><!-- end of contentWrapper -->
</div>
</div>