<div class="container" style="width:1060px;">
<div class="row edit-profile-wrapper">
  <div class="col-3 left-side">

    <div class="row">
      <div class="col-12">
        <%= @current_user.email %>
      </div>
    </div>

    <div class="row">
      <div clas="profile-pic col-12" style="margin: 20px 20px 20px 20px;">
          <% if current_user.image.url.present? %>
            <%= image_tag (current_user.image.url), class: "img-circle img-responsive", alt: "Profile pic", id: "user_image" %>
          <% else %>
            <%= image_tag ("default_profile.jpg"), class: "img-circle img-responsive", alt: "Profile pic", id: "user_image" %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-9 right-side">
    <%= form_for(resource, as: resource_name,
      url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
      <%= render "shared/devisemes" %>

      <div class="form-group row">
        <%= f.label :email, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.email_field :email, class: "form-control col-9" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :nickname, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.text_field :nickname, class: "form-control col-9" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group row">
        <%= f.label :password, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.password_field :password, autocomplete: "off", class: "form-control col-sm-9", placeholder: "Leave blank if you don't want to change it" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :password_confirmation, class: "col-sm-3 col-form-label text-right font-weight-bold" %><br />
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-sm-9" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :image, class: "col-sm-3 col-form-label text-right font-weight-bold" %>

        <div class="col-sm-9">
          <% if current_user.image.url.present? %>
          <div class="row">
            <div class="col-sm-2"></div>
            <%= f.label :remove_image, class: "col-sm-10" do %>
                  Remove current profile picture?
                  <%= f.check_box :remove_image %>
            <% end %>
          </div>
          <% end %>

          <div class="row">
            <%= f.file_field :image, class: "col-sm-9", onchange: "readURL(this);"%>
            <%= f.hidden_field :image_cache, class: "col-sm-3"%>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :current_password, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.password_field :current_password, class: "form-control col-sm-9", autocomplete: "current-password" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-9">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#user_image')
        .attr('src', e.target.result);
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>
